@using WeatherApp.Models;

@if (weatherData != null)
{
    <div class="card" style="width: 18rem;">
        <h3>@weatherData.Name</h3>
        <p>Temperatura: @weatherData.Temperature °C</p>
        <p>Humedad: @weatherData.Humidity %</p>
        <p>Descripción: @weatherData.Description</p>
        <i class="@GetWeatherIconClass(weatherData.Description)"></i>

    </div>
}
@code {
    [Parameter]
    public WeatherData? weatherData { get; set; }
 private string GetWeatherIconClass(string description)
    {
        switch (description.ToLower())
        {
            case "cielo claro":
                return "bi-sun";
            case "nubes":
                return "bi-cloud";
            case "lluvia":
                return "bi-cloud-rain";  
            case "tormenta":
                return "bi-cloud-lightning-rain";  
            case "nieve":
                return "bi-snow";         
            default:
                return "bi-cloud-sun";
        }
    }
}

