@using WeatherApp.Models;

@if (weatherData != null)
{
    <div class="card" style="width: 18rem;">
        <h3>@weatherData.Name</h3>
        <p>Temperatura: @weatherData.Temperature °C</p>
        <p>Humedad: @weatherData.Humidity %</p>
        <p>Descripción: @weatherData.Description</p>
        <i class="wi @GetWeatherIconClass(weatherData.Description)"></i>

    </div>
}

@code {
    [Parameter]
    public WeatherData? weatherData { get; set; }
 private string GetWeatherIconClass(string description)
    {
        switch (description.ToLower())
        {
            case "cielo claro":
                return "wi-day-sunny";
            case "pocas nubes":
                return "wi-cloud";
            case "nubes":
                return "wi-cloudy";
            case "nubes dispersas":
                return "wi-cloudy";
            case "muy nuboso":
                return "wy-cloudy";
            case "lluvia de lluvia":
                return "wi-rain";    
            case "lluvia":
                return "wi-rain";           
            case "tormenta":
                return "wi-thunderstorm";
            case "nieve":
                return "wi-snow";
            case "niebla":
                return "wi-fog";
            default:
                return "wi-meteor";
        }
    }
}

