@using WeatherApp.Models;

@if (weatherData != null)
{
    <div class="card" style="width: 18rem;">
        <h3>@weatherData.Name</h3>
        <p>Temperatura: @weatherData.Temperature °C</p>
        <p>Humedad: @weatherData.Humidity %</p>
        <p>Descripción: @weatherData.Description</p>
        <i class="wi @getIcon(@weatherData.icon)"></i>

    </div>
}

@code {
    [Parameter]
    public WeatherData? weatherData { get; set; }

    string getIcon(string code){
        return $"wi-own-{code}";
    }
}

