@using WeatherApp.Models;

@if (weatherData != null)
{
    <div class="card" style="width: 18rem;">
        <h3>@weatherData.Name</h3>
        <p>Temperatura: @weatherData.Temperature °C</p>
        <p>Humedad: @weatherData.Humidity %</p>
        <p>Descripción: @weatherData.Description</p>
        <p>icon: @weatherData.icon</p>

    </div>
}

@code {
    [Parameter]
    public WeatherData? weatherData { get; set; }

}

